@import url('./__variables.css');

/* <-----------sidesocial------> */

.wordspace{
  letter-spacing: 3.5px ;
}
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a  {
    display: block;
    text-align: center;
    padding: 8px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  .sidesocialicon{
    transform: rotate(-90deg);
  }
  @media (max-width:1280px){
    .icon-bar{
        display: none;
    }
}

/* <-------navbar--------> */
.dropdown-menu {
    display: none;
}
.nav-item a,
.nav-item a:hover {
    color: black;
}

.dropdown:hover
.dropdown-content {
    display: block;
}

.dropdown-toggle::after{
    display: none;
}

.mainbtn:hover{
    color: #CA8E46 !important;
}

.slidebtn:hover,
.slidebtn:focus {
  box-shadow: inset 13.5em 0 0 0 var(--hover);
  transition-duration: 0.7s;
}

.slidebtn {
    --hover: #654522;
    background-color: #CA8E46;
  }
  .slidebtnwid{
    width: 28%;
  }

  button {
    color: var(--color);
    transition: 0.25s;
  }

@media (max-width:1280px){
    .slidebtn{
        display: none;
    }
}

.backvideo{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-attachment: fixed;
}

/* <-------navbar close-----> */

/* <---------Hero Start------> */
.herozin{
    z-index: 100000 !important;
}

.herocontent{
    font-size: 60px !important;
    font-weight: 600;
}
.heroparacontent{
    font-weight: 500;
}
.center{
  padding: 9rem 9rem;
  width: 70%;
}

@media (max-width:1280px){
    .center{
        padding: 3rem 2rem;
        width: 100%;
      }
}




.bg-color-1{
  background-color: #A27238;
}
.bg-color-2{
  background-color: #79552A;
}
.bg-color-3{
  background-color: #51391C;
}


/* <=========paralex start===========> */

.parallax {
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: url(../image/two-room.jpg);
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-color: rgba(0,0,0, 0.4)
}

.mainheading::before {
    content: "";
    width: 45px;
    height: 3px;
    position: absolute;
    bottom: -4px;
    left: 48%;
    border-radius: 1px;
    background-color: #CA8E46;
    z-index: 1000;
}

.topheading{
  background-color: #CA8E46;
  top: 1rem;
  right: 1rem;
  font-size: 12px;
  width: 40%;
}
.bottomcontent{
  background-color: #403f3d80;
  bottom: 0rem;
  /* background: linear-gradient(0deg, rgba(32, 32, 32,.75) 25%, rgba(32, 32, 32,0) 100%);
  top: 13.5rem; */

}
.swap-on-hover__front-image{
  display: block;
  
}
.swap-on-hover__front-image:hover{
  display: none;
}
.swap-on-hover__back-image{
  display: none;
}

.swap-on-hover__front-image:hover + .swap-on-hover__back-image{
  display: block; 
}
.contentsection{
  background-color: #403f3d80;
  /* background: linear-gradient(0deg, rgb(32 32 32 / 57%) 25%, rgb(46 42 42 / 0%) 100%); */
}

.slidebtnparalex:hover,
.slidebtnparalex:focus {
  box-shadow: inset 21.8em 0 0 0 var(--hover);
  transition-duration: 0.7s;
}

.slidebtnparalex {
    --hover: #CA8E46;
    background-color: transparent;
    border: 2px solid grey !important;
  }
  .slidebtnwid{
    width: 28%;
  }


  @media (max-width:1280px){
    .bottomcontent{
      top: 12.6rem;}
}

/* <==========paralex close=======> */

/* <=========container===========> */

.mainheading1::before {
  content: "";
  width: 45px;
  height: 3px;
  position: absolute;
  bottom: -12px;
  left: 1%;
  border-radius: 1px;
  background-color: #CA8E46;
}


/* <========Testimonials
========> */

.carousalcont {
  font-weight: 800;
  font-size: 30px;
  line-height: 50px;
  padding: 10rem !important;
}

.image {
  background-image: url(../image/4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#moodular {
  overflow: hidden;
}

#moodular,
#moodular li {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

#moodular,
#moodular li {
  height: 500px;
}

#moodular li p {
  display: block;
  height: 500px;
}

#moodular li p span {
  display: inline-block;
  /* padding: 10px 10px; */
  color: #FFF;
  margin: 0rem 10rem;
}

@media (max-width:1280px){
  #moodular li p span {
    margin: 5rem 0rem;

  }

  .carousalcont {
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    padding: 1rem !important;
  }
  #moodular li p {
    height: 300px;
  }
  #moodular,
#moodular li {
  height: 300px;
}
}

/* <=============footer==========> */
.footer{
  background-color: #25221f;
}

/* <================about============> */
.parallaxabout{
  background-size: cover !important;
  background-repeat:no-repeat !important;
  background-color: rgba(0,0,0, 0.55); 
  background-image: url(../image/about-bg.jpg) ;
  background-blend-mode: overlay;
  background-attachment: fixed;
}

.imgsvg{
  background-color: #CA8E46;
}
.mainabt1{
  font-size: 5.5rem !important;
}

.mainabt{
  letter-spacing: 4px;
}
.footerabout{
  background-blend-mode: overlay;
  background-color: rgba(0,0,0, 0.4);
}

/* <============about close==========> */

/* <=========Room==========> */

.parallaxtworoom{
    background-size: cover !important;
    background-repeat:no-repeat !important;
    background: url(../image/two-room.jpg) ;
    background-attachment: fixed;
    /* background-color: rgba(0,0,0, 0.4);  */
    /* background-blend-mode: overlay; */
}
.topheadingroom{
  background-color: #CA8E46;
  top: 1rem;
  right: 1rem;
  font-size: 12px;
  width: 40%;
}
.bottomcontentroom{
  background-color: #403f3d80;
  bottom: 0rem;
}

.slidebtnparalexroom:hover,
.slidebtnparalexroom:focus {
  box-shadow: inset 32.3em 0 0 0 var(--hover);
  transition-duration: 0.8s;
}

.slidebtnparalexroom {
    --hover: #CA8E46;
    background-color: transparent;
    border: 2px solid grey !important;
  }





































/* <==============offer==========> */
.parallaxoffer{
  background-size: cover !important;
  background-repeat:no-repeat !important;
  background-color: rgba(0,0,0, 0.55);
  background: url(../image/offer/offer-banner.jpg) ;
  background-blend-mode: overlay;
  background-attachment: fixed;
}

.card{
  background-image: url(../image/offer/1.jpg);
  background-blend-mode: overlay;
  background-size: cover;
  background-color: rgba(32, 32, 32, 0.55);
  transition: all 0.5s;
  border: 2px dotted white;
  height: 60vh;
  transform: scale(1);
}
.card:hover{
  background-blend-mode: overlay;
  background-color: rgba(0,0,0, 0.55);
  transform: scale(1.1);
}
.card1{
  background-image: url(../image/offer/2.jpg);
}
.card2{
  background-image: url(../image/offer/3.jpg);
}

.dateoffer{
  background-blend-mode: overlay;
  background-color: rgba(0,0,0, 0.55);
  
}

/* <===========offer close=========> */


/* <=============Gallery========> */

.parallaxlgallery{
    background-size: cover !important;
    background-repeat:no-repeat !important;
    background-color: rgba(0,0,0, 0.55);
    background: url(../image/gallery/bg-gallery.jpg) ;
    background-blend-mode: overlay;
    background-attachment: fixed;
}
.img-fluid{
  cursor: pointer;
}
.secondrow{
  margin-top: -217px !important;
}

@media (max-width: 580px) {
  .secondrow {
    margin-top: 25px !important;
  }
}

@media (max-width: 780px) {
  .secondrow {
    margin-top: 25px !important;
  }
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* <=============Gallery========> */

/* <===========Blog==========> */

.parallaxblog{
  background-size: cover !important;
  background-repeat:no-repeat !important;
  background-color: rgba(0,0,0, 0.55);
  background: url(../image/blog/blog-banner.jpg) ;
  background-blend-mode: overlay;
  background-attachment: fixed;
}

.cardtran{
  background-blend-mode: overlay;
  background-color: rgba(0,0,0, 0.75) !important;
  height: 68vh;
  background-size: cover;
}

.cardtran {
  background-image: url(../image/blog/1.jpg);
  background-position: center center;
  background-size: 100% 0%;
  transition: background-size .5s 0.5s ease-in-out;
  background-repeat: no-repeat;
}

.cardtran:hover:hover {
  background-size: 100% 100%;
  color: #fff;
  transition: 0.5s;
}
.cardtran2{
  background-image:url(../image/blog/2.jpg) ;
}
.cardtran3{
  background-image: url(../image/blog/3.jpg);
}
.cardtran4{
  background-image: url(../image/blog/4.jpg);
}
.cardtran5{
  background-image: url(../image/blog/5.jpg);
}
.cardtran6{
  background-image: url(../image/blog/6.jpg);
}

/* <===========Blog Close=========> */

/* <=============Contact=========> */
.parallaxcontact{
  background-size: cover !important;
  background-repeat:no-repeat !important;
  background-color: rgba(0,0,0, 0.55);
  background: url(../image/contact-banner.jpg) ;
  background-blend-mode: overlay;
  background-attachment: fixed;
}
.containercontact{
  background-blend-mode: overlay;
  background-color: rgba(0,0,0, 0.75) !important;
  background-size: cover;
}
.border-top{
  width: 90%;
  border-color: grey !important;
}
.firstcol{
  color: #CA8E46;
}